body{
    margin: 0;
    padding: 0;
    background: url(https://i.imgur.com/DocRwyB.jpg) repeat;
    -webkit-animation: scroll 60s linear infinite;
    animation: scroll 60s linear infinite;
}
.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}
.title{
    font-size: 20px;
}
hr{
    width: 80px;
    color: #f1f1f1;
}
a{
    color: #f1f1f1;
}
@keyframes scroll{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2160px -2160px;
    }
}
#center{
    width: 450px;
    height: fit-content;
    max-width: 100vw;
    max-width: 100vh;
    overflow: auto;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}